{% extends 'checklist\layout.html' %}
{% block title %}Checklist App Home Page{% endblock %}
{% block content %}
    <h1>My Checklist</h1>
    <form action="#" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="title">Checklist Title:</label>
            <input type="text" id="title" class="form-control">
        </div>
        <div class="form-group">
            <label for="list-templates">Select a checklist type:</label>
            <select id="list-templates" class="form-control">
                {% for temp in list_templates %}
                    <option value="{{ temp.id }}">{{ temp.name }}</option>
                {% endfor %}
            </select>
        </div>
        <input type="submit" value="Create" class="btn btn-primary">
    </form>
    <hr>
    <h2>ToDo</h2>
    <ul class="list-group">
        {% for list in checklists %}
            <li style="font-size: 22px;" class="list-group-item clearfix justify-content-between align-items-center">
                {{ list.name }}
                {#                <span class="btn btn-xs btn-danger pull-right">Delete</span>#}
                {#                <span class="btn btn-xs btn-primary pull-right">Edit</span>#}
                <div class="btn-group  pull-right" role="group" aria-label="Basic example">
                    <a class="btn btn-primary" href="{% url 'checklist_detail' pk=list.id %}">View</a>
                    <a class="btn btn-danger" href="{% url 'checklist_delete' pk=list.id %}">Delete</a>
                </div>
            </li>
        {% endfor %}
    </ul>
    <hr>
    <h2>Done</h2>

{% endblock %}